<h1>Cadastrar tarefa</h1>

<div class="well">
  <form #formTask="ngForm"> <!-- Vinculando o componente ao form -->
    <div class="form-group">
      <label for="name">Tarefa:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="task.name"
        #name="ngModel"
        minlength="5"
        required> <!--
          [(ngModel)]="task.name" - vai garantir tanto no form quanto no componente que os valores sejam os mesmos;
          #name="ngModel" - variável local para representar esse campo de texto(input);
        -->
      <div *ngIf="name.errors && (name.dirty || name.touched)"
        class="alert alert-danger"> <!-- Se possuir erros, irá exibi-los -->
        <div [hidden]="!name.errors.required"> <!-- se o input name NÃO(!) possuir errors do tipo required irá esconder a mensagem -->
          Digite a tarefa.
        </div>
        <div [hidden]="!name.errors.minlength"> <!-- Se o input name NÃO(!) possuir errors do tipo minlength irá esconder a mensagem -->
          A tarefa deve conter ao menos 5 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btn-success"
        (click)="create()"
        value="Cadastrar"
        [disabled]="!formTask.form.valid"> <!--
          (click)="create()" - operador de eventos, quando o botão for clicado o evento click erá chamado e irá acionar o método create();
          [disabled]="!formTask.form.valid" - Enquanto o formulário possuir erros de validação(!formTask.form.valid), vai ficar desabilitado o botão Cadastrar;
        -->
      <a [routerLink]="['/tarefas/listar']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
